@page
@model AliciasPieShop.Pages.CheckoutCompletePageModel


<h1>@ViewData["CheckoutCompleteMessage"]</h1>

@{
    // I think ViewData is Razor Page's answer to the ViewBag. seems like you access its properties using different syntax but still...
}